/* import './styles/global.css' */



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.container {
  display: flex;
  align-items: left;
  flex-direction: column;
} 

.container h1 {
  margin: 135px 0 1px;
  padding-left: 80px;
  font-size: 130px;
  color: #004AAD ;
  font-family: Limelight;
  border: none;
  /* width: 50%; */
  /* padding: 24px; */
  /* padding: 10px; */
  /* border-radius: 5px; */


}

.container p{ 
  
  margin: 1px 0 1px;
  padding-left: 80px; 
  color: #004AAD ;
  font-family: Limelight; 
  

  /* width: 50%; */ 
  /* padding: 2px;  */

  
 
}


.container input{
  margin: 2px 0 2px;
  width: 20%; 
  /* padding-left: 50px;  */

  background: #FF914D;
  font-family: Literata;
  color: #004AAD ;
  font-size: 30px;
  
 
  border-radius: 10px;
  border-color:  #FF914D;


  border: none;
  cursor : pointer;
  transition: filter 0.2s;
} 


.Login {
  display: flex;
  align-items: left;
  flex-direction: column; 
} 


.Login h3{

  margin: 10px 0 1px;
  padding-left: 900px; 
  font-family: Limelight;
  color: #004AAD ;
 
  font-size: 40px;   
}

.Login p{
  margin: 10px 0 1px;
  padding-left: 900px;

  font-family: Literata;
  color: black;
  /* font-size: 20px; */ 
}

.Login input{
  margin: 10px 0 2px;
  margin-left: 900px;
  width: 210px;

  transition: filter 0.2s;

  /* padding-left: 150px; */
  /* align-items: right; */
  /* background: whitesmoke;
  border-color: #004AAD ;
  transition: filter 0.2s; */
} 



.Login button{
  margin: 10px 0 2px;
  width: 212px;
  margin-left: 900px;
  /* /* margin: 10px 0 10px;
  padding-left: 900px; */
  /* border-radius: 5px; */
  border-color: #004AAD ;
  border-radius: 2px;
  background: #004AAD ;
  font-family:  Limelight;
  color: #FF914D;
  
  /* font-family: Verdana; */
}   




.Login button:hover{
  filter: brightness(0.9);
}

.cadastro {
  display: flex;
  align-items: left;
  flex-direction: column; 
} 


.cadastro p{
  margin: 10px 0 1px;
  padding-left: 1100px;

  font-family: Ibarra Real Nova;
  color: #004AAD ;
  font-size: 17px;
}

.cadastro button{
  margin: 2px 0 1px;
  margin-left: 1135px;
  width: 150px;
  background:  #FF914D;
  
  border-color: #FF914D;
  border-radius: 10px;
  color: #004AAD;
  font-family:  Limelight;
}

.cadastro button:hover{
  filter: brightness(0.9);
}
/* .container p {
  width: 50%;
  margin: 10px 0 10px;
  padding: 24px;
  background: greenyellow;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  align-items: center;
}
 */  


