.Screen-sale h1{
  margin: 12px 0 0px 0px ;
  margin-bottom: 0px;
  color:  rgb(0, 59, 136) ;
  font-family: Limelight;
  font-size: 45px;
  padding: 24px;
}


.Sale{
  width: 70%;
}

.Search {
  background-color:  #ffffff;;
}


.Sale table {
  margin: 40px 190px 5px 18px ;
  
  color:  rgb(79, 85, 93) ;
  font-family: Literata; 
  font-size: 20px;
  text-align: center;

}

.Sale table button{
 
  background: rgb(255, 255, 255);
  color: rgb(0, 59, 136) ;
  width: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: filter 0.2s;
}

.Sale table button button:hover{
  filter: brightness(2.0); 
}

.Search h5{
  margin-left: 25px;
  color:  rgb(0, 59, 136) ;
  font-family:Literata; 
  font-weight: 600;
}

.Search input{
  
  margin-left: 10%;
  width: 200px;
  background: rgba(255, 255, 255, 0.644);
  font-size: 15px;
  border-radius: 100px;
}

.Search button{
  
  width: 20%;    
  border-radius: 100px;
  border: none;
  color: rgb(0, 59, 136) ;;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.4s;
}

.Shop-cart{
  width: 45%; 
  background-color:  rgba(0, 59, 136, 0.222);
}


.Shop-cart h2{
  color:  rgb(0, 59, 136) ;
  font-family: Limelight;
  margin-top: 40px;
  text-align: center;
}

.Shop-cart table{
  margin-top: 50px;
  color: rgb(0, 59, 136) ;
  text-align: center;
}

.Shop-cart table input{
  width: 40px; 
}  

.Shop-cart p{
  background-color:  rgb(0, 59, 136);
  color: antiquewhite;
  font-weight: bold;
  font-size: large;
  margin-top: 70px;
  margin-left: 60%;
  padding-left: 5%;
  border-radius: 5px;
  height: 29px;
  width: 35%;
  border-radius: 10px;
} 

.Shop-cart button{
  border-color: #F5873B;
  background-color: #F5873B;
  height: 6%; 
  color:rgb(255, 255, 255);
  margin-top: 10px;
  margin-left: 5%;
  border-radius: 10px;
  height: 35px;
  width: 30%;
}

.Shop-cart button{
  filter: brightness(0.9); 
}
