.Screen-sale h1{
  margin: 12px 0 0px 0px ;
  margin-bottom: 0px;
  color:  rgb(0, 59, 136) ;
  font-family: Limelight;
  font-size: 45px;
  padding: 24px;
}


.Sale{
  width: 90%;
  /* height: 50%; */
  /* background-color: aqua; */
}


/* .Sale h5{
  margin: 5px 0 0px 0px ;
  margin-bottom: 0px;
  color:  rgb(0, 59, 136) ;
  font-family:Literata; 
  font-weight: 600;
 
  padding: 24px;
} */

.Sale table {
  margin: 40px 190px 5px 18px ;
  
  color:  rgb(79, 85, 93) ;
  font-family: Literata; 
  font-size: 20px;
  text-align: center;

}

.Sale table button{
 
  background: ghostwhite;
  color: rgb(0, 59, 136) ;
  
  /* border-radius: 3px; */
  width: 50%;
  border: none;
  
  cursor: pointer;
  font-size: 20px;
  /* transition-duration: 0.4s; */
  transition: filter 0.2s;
}

.Sale table button button:hover{
  filter: brightness(2.0); 
  /* background-color: green; */
}

.Search h5{
  margin-left: 25px;
  color:  rgb(0, 59, 136) ;
  font-family:Literata; 
  font-weight: 600;
}

.Search button{
  /* margin-bottom: 2px; */
  margin: 2 1 1 0;
  color:rgb(0, 59, 136) ;
  background-color:#D4E9F6;
  border-color: #D4E9F6;

}

.Search input{
  /* border-radius:1px;  */
  margin-top: 1px;
  margin-left: 25px;
  color: #606162;

}

.Shop-cart{
  /* height: 100%; */
  width: 53%; 
  /* margin-left: 40px; */
  /* border-width: 40px; */
  /* height: 100vh;
  width: 40%; */
  /* padding-left: 60px; */
  /* margin-left: 80px;  */
  background-color: wheat;
  align-items: center; 
  align-content: center;
}


.Shop-cart h2{
  color:  rgb(0, 59, 136) ;
  font-family: Limelight;
  /* margin: 10px 10px 4px 0px; */
  /* padding-left: 10px; */
  margin-top: 40px;
  text-align: center;
}

.Shop-cart table{
  margin-top: 50px;
  /* padding-left: 40px; */

  /* margin-left: 20px;   */
  text-align: center;
}

.Shop-cart table input{
  width: 40px; 
}  

.Shop-cart p{
  background-color: #F5873B;
  font-weight: bold;
  font-size: large;
  margin-top: 50px;

  padding-left: 30px;
  border-radius: 5px;
  height: 25px;
  width: 20%;

} 

.Shop-cart button{
  border-radius: 5px;
  border-color: #7ED957;
  background-color: #7ED957;
  width: 90px;
  height: 6%; 
  color:black;

  margin-left: 450px;
  /* padding-left: 90px; */
  margin-top: 100px;
}

.Shop-cart button{
  filter: brightness(0.9); 
  /* background-color: green; */
}


.Shop-cart table button{
  border-radius: 5px;
  background-color: rgb(172, 166, 166);
  border-color:rgb(172, 166, 166);
  width: 25px;
  height: 28px; 
  color:black;

  margin-left: 20px;
  /* padding-left: 90px; */
  margin-top: 3px;
  align-content: center;
}

.Shop-cart table button{
  filter: brightness(0.9); 
  /* background-color: green; */
}
