
.Store h1 {
    margin-top: 2px;
    /* padding: 0 10px; */
    /* padding-left: 70px; */
    color:  #004AADFF ;
    font-family: Limelight;
    font-size: 40px;
    margin: 50px 20px 30px 60px;
}

.Store p {
    margin-top: 2px;
    /* padding-left: 70px; */
    color: gray;
    /* color:  #004AADFF ; */
    /* color:  #004AADFF ; */
   
    font-family:  'Lucida Sans';
    /* font-family: Lato; */
    font-size: 20px;
    margin: 20px 10px 5px 60px;
}

.Store h2 {
    margin-top: 2px;
    /* padding: 0 10px; */
    /* padding-left: 70px; */
    /* color:  #F5873B; */
    color:  #004AADFF ;
    font-family: Limelight;
    font-size: 25px;
    margin: 80px 20px 30px 60px;;
}