
.container{
    display: flex;
    flex-flow: row wrap;
    }
  
  
  
.container-50 h1 {
    margin: 50px 80px 1px 20px;
    font-size: 70px;
    color: #FFFFFF ;
    font-family: Limelight;
}
  
  